body {
  height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

.text-secondary {
  color: $secondary-color;
}

main {
  background: linear-gradient(rgba(25, 25, 25, 0.8), rgba(20, 20, 20, 0.8)), url("../img/background4.jpg") no-repeat center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  height: 100vh;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba($primary-color, $background-opacity);
  }

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &.home {
    overflow: hidden;
  }
}

.about {
  padding: 6rem;
  .info {
    display: flex;
  }
}

body.show {
  main {
    &:after {
      z-index: 2;
      @include easeOut;
    }
  }
}

.name-heading {
  color: white;
}

.info-heading {
  color: white;
}