//Hamburger menu icon
.menu-btn {
  position: fixed;
  z-index: 500;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  .btn-line {
    width: 30px;
    height: 5px;
    margin-bottom: 7px;
    background: white;
    transition: all 0.5s ease-in-out;
  }

  // Rotate menu icons
  &.close {
    transform: rotate(360deg);

    .btn-line {
      //Rotate Line 1
      &:nth-child(1) {
        background: $secondary-color;
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }

      //Rotate Line 3
      &:nth-child(3) {
        background: $secondary-color;
        transform: rotate(-45deg) translate(12px, -12px);
      }
    }
  }
}

//General Menu

nav {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0 0 0 -16rem;
  transition: all 400ms ease-in;
  ul {
    width: 16rem;
    height: 100%;
    padding: 16rem 0 0 2rem;
    margin: 0;
    list-style: none;
    overflow: hidden;
    background: #333333;

    li a {
      color: #fff;
      font-size: 1.4rem;
      text-decoration: none;
      display: block;
      padding: 12px 15px;
      font-weight: 300;
      letter-spacing: 2px;
      border-bottom: 1px solid #333;

      &:hover {
        color: $secondary-color;
        background: #111;
        @include easeOut;
      }
    }
  }
}

.menu-portrait {
  display: inline;
  position: absolute;
  z-index: 999;
  width: 10rem;
  height: 10rem;
  margin: 2rem 2rem 0 -250px;
  background: url('../img/SmallUserProfile.png');
  background-size: cover;
  border-radius: 50px;
  border: solid 2px $secondary-color;
  transition: all 400ms ease-in;
}

.show {
  .menu-portrait {
    margin-left: 2rem;
  }
  nav {
    margin-left: 0;
  }
  .menu-btn {
    left: 17rem;
  }

}


// Delay each nav items
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}