.menu-btn {
  position: fixed;
  z-index: 500;
  left: 35px;
  top: 10px;
  cursor: pointer;
  transition:all 400ms ease-in;
  @include easeOut;

  .btn-line {
    width: 30px;
    height: 5px;
    margin-bottom: 7px;
    background: #fff;
    @include easeOut;
  }

  // Rotate menu icons
  &.close {
    transform: rotate(360deg);

    .btn-line {
      //Rotate Line 1
      &:nth-child(1) {
        background: $secondary-color;
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }

      //Rotate Line 3
      &:nth-child(3) {
        background: $secondary-color;
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

//General Menu
.wrapper{
  overflow:hidden;
}
section.site-title{
  transition:all 400ms ease-in;
}
nav{
  position:fixed;
  top:0;
  left:0;
  width:200px;
  height:100%;
  margin:0 0 0 -250px;
  transition:all 400ms ease-in;
}

.menu-branding {
  display: inline;
  position: absolute;
  z-index: 500;
  width: 150px;
  height: 150px;
  margin:2rem 2rem 0 -250px;
  background: url('../img/SmallUserProfile.png');
  background-size: cover;
  border-radius: 50px;
  border: solid 2px $secondary-color;
  transition:all 400ms ease-in;
}
.show {
  nav {
    margin-left: 0;
  }
  .menu-branding {
    margin-left: 3rem;
  }
  .menu-btn {
    left: 260px;
  }

  section.site-title {
   transform: translate3d(260px, 0, 0);
  }
}
nav ul{
  width:250px;
  height:100%;
  padding:200px 0 0 0;
  margin:0;
  list-style:none;
  overflow:hidden;
  background: #333333;
}
nav li{
  margin:0;
}
nav a{
  color:#fff;
  font-size:1.4rem;
  text-decoration:none;
  display:block;
  padding:12px 15px;
  font-weight:300;
  letter-spacing:2px;
  border-bottom:1px solid #333;
}
nav a:hover{
  background:#111;
}

// Delay each nav items
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}