@import url('https://fonts.googleapis.com/css?family=Courgette');

html {
	font: 12px/1.5 'Courgette', cursive;
}

@media screen and (min-width: 500px) {
	html { font-size: $font-size-lv2; }
}

@media screen and (min-width: 700px) {
	html { font-size: $font-size-lv3; }
}

@media screen and (min-width: 1200px) {
	html { font-size: $font-size-lv4; }
}


body, table, th, td, form, input, textarea, option, select {
	font: inherit;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	padding-bottom: 1em;
}

$headings: (h1: 3.741em, h2: 2.641em, h3: 1.563em, h5: 1.3em, h6: 1em);

//loop headings and put size on each of them
@each $heading, $size in $headings {
	#{$heading} { font-size: $size; }
}

h5, h6 { font-weight: bold; }

p, ul, ol {
	padding-bottom: 1.5em;
}


li {
	list-style-position: inside;
}