@import url("https://fonts.googleapis.com/css?family=Courgette");
* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  font: 12px/1.5 'Courgette', cursive; }

@media screen and (min-width: 500px) {
  html {
    font-size: 14px; } }

@media screen and (min-width: 700px) {
  html {
    font-size: 16px; } }

@media screen and (min-width: 1200px) {
  html {
    font-size: 18px; } }

body, table, th, td, form, input, textarea, option, select {
  font: inherit; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  padding-bottom: 1em; }

h1 {
  font-size: 3.741em; }

h2 {
  font-size: 2.641em; }

h3 {
  font-size: 1.563em; }

h5 {
  font-size: 1.3em; }

h6 {
  font-size: 1em; }

h5, h6 {
  font-weight: bold; }

p, ul, ol {
  padding-bottom: 1.5em; }

ul, ol {
  padding-left: 2em; }

li {
  list-style-position: inside; }

body {
  height: 100%; }

a {
  color: #fff;
  text-decoration: none; }

.text-secondary {
  color: #00A7E6; }

main {
  background: linear-gradient(rgba(25, 25, 25, 0.8), rgba(20, 20, 20, 0.8)), url("../img/background4.jpg") no-repeat center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  height: 100vh; }
  main:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(68, 68, 68, 0.7); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #00A7E6;
        transition: all 0.5s ease-out; }
  main.home {
    overflow: hidden; }

.about {
  padding: 6rem; }
  .about .info {
    display: flex; }

body.show main:after {
  z-index: 2;
  transition: all 0.5s ease-out; }

.name-heading {
  color: white; }

.info-heading {
  color: white; }

.menu-btn {
  position: fixed;
  z-index: 500;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out; }
  .menu-btn .btn-line {
    width: 30px;
    height: 5px;
    margin-bottom: 7px;
    background: white;
    transition: all 0.5s ease-in-out; }
  .menu-btn.close {
    transform: rotate(360deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      background: #00A7E6;
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      background: #00A7E6;
      transform: rotate(-45deg) translate(12px, -12px); }

nav {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0 0 0 -16rem;
  transition: all 400ms ease-in; }
  nav ul {
    width: 16rem;
    height: 100%;
    padding: 16rem 0 0 2rem;
    margin: 0;
    list-style: none;
    overflow: hidden;
    background: #333333; }
    nav ul li a {
      color: #fff;
      font-size: 1.4rem;
      text-decoration: none;
      display: block;
      padding: 12px 15px;
      font-weight: 300;
      letter-spacing: 2px;
      border-bottom: 1px solid #333; }
      nav ul li a:hover {
        color: #00A7E6;
        background: #111;
        transition: all 0.5s ease-out; }

.menu-portrait {
  display: inline;
  position: absolute;
  z-index: 999;
  width: 10rem;
  height: 10rem;
  margin: 2rem 2rem 0 -250px;
  background: url("../img/SmallUserProfile.png");
  background-size: cover;
  border-radius: 50px;
  border: solid 2px #00A7E6;
  transition: all 400ms ease-in; }

.show .menu-portrait {
  margin-left: 2rem; }

.show nav {
  margin-left: 0; }

.show .menu-btn {
  left: 17rem; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; } }
