@import url("https://fonts.googleapis.com/css?family=Courgette");
* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  font: 12px/1.5 'Courgette', cursive; }

@media screen and (min-width: 500px) {
  html {
    font-size: 14px; } }

@media screen and (min-width: 700px) {
  html {
    font-size: 16px; } }

@media screen and (min-width: 1200px) {
  html {
    font-size: 18px; } }

body, table, th, td, form, input, textarea, option, select {
  font: inherit; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  padding-bottom: 1em; }

h1 {
  font-size: 3.741em; }

h2 {
  font-size: 2.641em; }

h3 {
  font-size: 1.563em; }

h5 {
  font-size: 1.3em; }

h6 {
  font-size: 1em; }

h5, h6 {
  font-weight: bold; }

p, ul, ol {
  padding-bottom: 1.5em; }

li {
  list-style-position: inside; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(25, 25, 25, 0.8), rgba(20, 20, 20, 0.8)), url("../img/background4.jpg");
  background-size: cover;
  color: white; }
  body:after {
    display: none;
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    z-index: 2;
    background: rgba(68, 68, 68, 0.7); }

.text-secondary {
  color: #00A7E6; }

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.site-homepage .icons {
  margin-top: 1rem; }
  .site-homepage .icons a {
    color: white;
    padding: 0.4rem;
    text-decoration: none; }
    .site-homepage .icons a:hover {
      color: #00A7E6;
      transition: all 0.5s ease-out; }

.site-homepage.home {
  overflow: hidden; }

body.show:after {
  display: block;
  transition: all 0.5s ease-out; }

.current a {
  color: #00A7E6; }

.container {
  width: auto;
  height: auto;
  text-align: center; }
  .container img {
    width: 13rem;
    height: auto;
    margin-bottom: 2rem; }

.certificates h3 {
  text-align: center; }

.certificates article {
  border: 1px solid orange;
  border-radius: 8px;
  padding: 1rem;
  margin: 2rem; }
  .certificates article:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-out; }
  .certificates article p {
    padding-left: 1rem; }

.certificates .certf-info {
  border-radius: 2px solid #00A7E6;
  width: 25rem;
  justify-content: space-between; }

.about {
  padding: 4rem 10rem; }
  .about h3, .about h4 {
    text-align: center; }
  .about h3 {
    padding-bottom: 2rem; }
  .about .bio {
    padding-bottom: 2rem; }
    .about .bio div:nth-child(2) {
      width: 75%; }
    .about .bio .about-image {
      width: 11rem;
      height: auto; }
      .about .bio .about-image img {
        width: 100%;
        height: auto;
        border: 2px solid #00A7E6;
        border-radius: 8px; }
  .about .skills {
    padding: 2rem; }
    .about .skills article {
      flex: 1 0 15rem;
      padding-right: 1rem;
      margin-right: 1rem; }
      .about .skills article .skills-info ul {
        text-align: left; }
    .about .skills .logos {
      width: 9rem;
      height: auto;
      margin: 1rem auto; }
      .about .skills .logos img {
        width: 100%; }

.menu-btn {
  position: fixed;
  z-index: 500;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out; }
  .menu-btn .btn-line {
    width: 30px;
    height: 5px;
    margin-bottom: 7px;
    background: white;
    transition: all 0.5s ease-in-out; }
  .menu-btn.close {
    transform: rotate(360deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      background: #00A7E6;
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      background: #00A7E6;
      transform: rotate(-45deg) translate(12px, -12px); }

nav {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0 0 0 -16rem;
  transition: all 400ms ease-in; }
  nav ul {
    width: 16rem;
    height: 100%;
    padding: 2rem 0 0 2rem;
    margin: 0;
    list-style: none;
    overflow: hidden;
    background: #333333; }
    nav ul .menu-portrait {
      width: 9rem;
      height: auto; }
      nav ul .menu-portrait img {
        border: 1px solid #00A7E6;
        border-radius: 50%;
        width: 100%;
        height: auto; }
    nav ul li:first-of-type {
      padding-bottom: 2rem; }
    nav ul li {
      padding-bottom: 0.3rem; }
      nav ul li a {
        color: #fff;
        font-size: 1.4rem;
        text-decoration: none;
        padding: 1rem;
        display: block;
        font-weight: 300;
        letter-spacing: 2px;
        border-bottom: 1px solid #333; }
        nav ul li a:hover {
          color: #00A7E6;
          transition: all 0.5s ease-out; }

.show nav {
  margin-left: 0; }

.show .menu-btn {
  left: 17rem; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  .site-homepage {
    padding: 0 2rem; }
  .about {
    padding: 2rem 0; }
    .about .skills-info ul {
      margin-bottom: 2rem; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; } }
